<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ComputerGames.Properties.Settings.CGConnectionString"
            connectionString="Data Source=MOCKYPC;Initial Catalog=ComputerGames;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ComputerGames.Properties.Settings.ComputerGamesConnectionString"
            connectionString="Data Source=DESKTOP-9AVGMCV\SQLEXPRESS;Initial Catalog=ComputerGames;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>